<%- include('../partials/head') %> <%- include('../partials/header') %>

<main>
  <% books.forEach(function (b) { %>
  <p><%= b.author %></p>
  <p><%= b.genre %></p>
  <p><%= b.publishYear %></p>
  <p><%= b.pageCount %></p>
  <% }) %>
</main>
<%- include('../partials/footer') %>
