<%- include('../partials/head') %> <%- include('../partials/header') %>
<main>
  <% if (user && user.isAdmin) { %>
  <section>
    <h2>Add a book</h2>
    <form action="/books" method="POST">
      <label>
        Title:
        <input type="text" name="title" required /> </label
      ><br />
      <label>
        Select author(s) if they exist (select multiple by holding CTRL and
        clicking):
        <select name="existingAuthors" multiple>
          <option value=""></option>
          <% authors.forEach(function (a) { %>
          <option value="<%= a._id %>">
            <%= a.firstName %> <%= a.middleName %> <%= a.lastName %>
          </option>
          <% }) %>
        </select> </label
      ><br />
      <label>
        Input new author(s) (separate by commas):
        <input type="text" name="authorName" /> </label
      ><br />
      <label>
        Genre:
        <input type="text" name="genre" /> </label
      ><br />
      <label>
        Publish year:
        <input type="number" name="publishYear" /> </label
      ><br />
      <label>
        Page count:
        <input type="number" name="pageCount" min="1" /> </label
      ><br />
      <button type="submit">Add book to Library</button>
    </form>
  </section>
  <% } %>

  <section>
    <h2>Current Collection</h2>
    <% books.forEach(function (b) { %>
    <article>
      <h3><a href="/books/<%= b._id %>"><%= b.title %></a></h3>
      <p>
        Author(s): <% b.author.forEach(function(a, i) { %> <% if (i ===
        b.author.length - 1) { %>
        <a href="/authors/<%= a._id %>/"
          ><%= a.firstName %> <%= a.middleName %> <%= a.lastName %></a
        >
        <% } else { %>
        <a href="/authors/<%= a._id %>/"
          ><%= a.firstName %> <%= a.middleName %> <%= a.lastName %></a
        >, <% } }) %>
      </p>
      <div>
        <% if (user) { %> <% if (user.booksRead.includes(b._id)) { %>
        <form action="/users/<%=b._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete from My Books</button>
        </form>
        <% } else { %>
        <form action="/users/<%= b._id %>?_method=PUT" method="POST">
          <button type="submit">Add to My Books</button>
        </form>
        <% }} %>
      </div>
      <div>
        <% if (user && user.isAdmin) { %>
        <form action="/books/<%=b._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete from Library</button>
        </form>
        <% } %>
      </div>
    </article>
    <% }) %>
  </section>
</main>
<%- include('../partials/footer') %>
