<%- include('../partials/head') %> <%- include('../partials/header') %>
<!-- Change h1 later -->
<main>
  <section>
    <!-- Hide section -->
    <h2>Add a book</h2>
    <form action="/books" method="POST">
      <label>
        Title:
        <input type="text" name="title" required /> </label
      ><br />
      <label>
        Select author(s) if they exist (select multiple by holding CTRL and
        clicking):
        <select name="existingAuthors" multiple>
          <option value=""></option>
          <% books.forEach(function (b) { b.author.forEach(function (a) { %>
          <option value="<%= a._id %>">
            <%= a.firstName %> <%= a.lastName %>
          </option>
          <% }) }) %>
        </select> </label
      ><br />
      <label>
        Input new author(s) (separate by commas):
        <input type="text" name="authorName" /> </label
      ><br />
      <label>
        Genre:
        <input type="text" name="genre" /> </label
      ><br />
      <label>
        Publish year:
        <input type="number" name="publishYear" /> </label
      ><br />
      <label>
        Page count:
        <input type="number" name="pageCount" min="1" /> </label
      ><br />
      <button type="submit">Add book</button>
    </form>
  </section>
  <section>
    <h2>Your Books</h2>
    <% books.forEach(function (b) { %>
    <article>
      <h3><%= b.title %></h3>
      <p>
        Author(s): <% b.author.forEach(function(a, i) { %> <% if (i ===
        b.author.length - 1) { %> <%= a.firstName %> <%= a.lastName %> <% } else
        { %> <%= a.firstName %> <%= a.lastName %>, <% } }) %>
      </p>
      <p>Genre: <%= b.genre %></p>
      <p>Publication year: <%= b.publishYear %></p>
      <p>Page count: <%= b.pageCount %></p>
      <a href="/books/<%= b._id %>">Details</a>
    </article>
    <% }) %>
  </section>
</main>
<%- include('../partials/footer') %>
