<%- include('../partials/head') %> <%- include('../partials/header') %>
<main>
  <section>
    <h3><%= b.title %></h3>
    <p>
      Author(s): <% b.author.forEach(function(a, i) { %> <% if (i ===
      b.author.length - 1) { %> <%= a.firstName %> <%= a.lastName %> <% } else {
      %> <%= a.firstName %> <%= a.lastName %>, <% } }) %>
    </p>
    <p>Genre: <%= b.genre %></p>
    <p>Publication year: <%= b.publishYear %></p>
    <p>Page count: <%= b.pageCount %></p>
    <div>
      <% if (user && user.isAdmin) { %>
      <a href="/books/<%= b._id %>/edit">Edit Book</a>
      <% } %>
    </div>
    <div>
      <% if (user) { %>
      <form action="/users/<%= b._id %>?_method=PUT" method="POST">
        <button type="submit">Add to My Books</button>
      </form>
      <% } %>
    </div>
    <div>
      <% if (user && user.isAdmin) { %>
      <form action="/books/<%=b._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete from Library</button>
      </form>
      <% } %>
    </div>
  </section>
</main>
<%- include('../partials/footer') %>
