<%- include('../partials/head') %> <%- include('../partials/header') %>

<main class="book-show">
  <h2><em><%= b.title %></em></h2>
  <section class="book-info">
    <p>
      Author(s): <% b.author.forEach(function(a, i) { %> <% if (i ===
      b.author.length - 1) { %>
      <a href="/authors/<%= a._id %>"
        ><%= a.firstName %> <%= a.middleName %> <%= a.lastName %></a
      >
      <% } else { %>
      <a href="/authors/<%= a._id %>"
        ><%= a.firstName %> <%= a.middleName %> <%= a.lastName %></a
      >, <% } }) %>
    </p>
    <p>Genre: <%= b.genre[0].toUpperCase() + b.genre.substring(1) %></p>
    <p>Publication year: <%= b.publishYear %></p>
    <p>Page count: <%= b.pageCount %></p>
  </section>
  <section>
    <% if (user && user.isAdmin) { %>
    <div class="link-btn-container">
      <a href="/books/<%= b._id %>/edit" class="link-btn">Edit Book</a>
    </div>
    <% } %> <% if (user) { %> <% if (user.booksRead.includes(b._id)) { %>
    <div>
      <form action="/users/<%=b._id %>?_method=DELETE" method="POST">
        <button type="submit" onclick="history.go(0)">
          Delete from My Books
        </button>
      </form>
      <% } else { %>
      <form action="/users/<%= b._id %>?_method=PUT" method="POST">
        <button type="submit" onclick="history.go(0)">Add to My Books</button>
      </form>
    </div>
    <% }} %> <% if (user && user.isAdmin) { %>
    <div>
      <form action="/books/<%=b._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete from Library</button>
      </form>
    </div>
    <% } %>
  </section>
  <section class="book-review">
    <h2>Reviews</h2>
    <% if (user && user.booksRead.includes(b._id)) { %>
    <div class="review-form">
      <form method="POST" action="/books/<%= b._id %>/reviews">
        <label
          >Your Review:<br />
          <textarea name="content"></textarea>
        </label>
        <br />
        <label
          >Rating:
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
          </select>
        </label>
        <br />
        <button type="submit">Add Review</button>
      </form>
    </div>
    <% } %>
    <div>
      <% if (b.reviews.length) { %> <% let total = 0 %>
      <article class="reviewBar">
        <p>Date</p>
        <p>Name</p>
        <p>Avatar</p>
        <p>Review</p>
        <p>Rating</p>
      </article>
      <% b.reviews.forEach(function(r) { %> <% total += r.rating %>
      <article class="review">
        <p><%= r.createdAt.toLocaleDateString() %></p>
        <p><%= r.user[0].username %></p>
        <p class="pfp-container">
          <img
            src="<%= r.user[0].avatar %>"
            alt="user profile picture"
            onerror="this.onerror=null;this.src='/img/stockBook.png';"
            referrerpolicy="no-referrer"
            class="pfp"
          />
        </p>
        <p><%= r.content %></p>
        <p><%= r.rating %></p>
      </article>
      <% }); %> Average rating:
      <strong><%= (total / b.reviews.length).toFixed(1) %></strong>
      <% } else { %>
      <p>No reviews yet. Add a review if you've read the book!</p>
    </div>
    <% } %>
  </section>
</main>
<%- include('../partials/footer') %>
