<%- include('../partials/head') %> <%- include('../partials/header') %>
<main>
  <section>
    <h3><%= b.title %></h3>
    <p><%= b.author %></p>
    <p><%= b.genre %></p>
    <p><%= b.publishYear %></p>
    <p><%= b.pageCount %></p>
  </section>
</main>
<%- include('../partials/footer') %>
