<%- include('../partials/head') %> 
<%- include('../partials/header') %>

<main>

  <h2><%= b.title %></h2>
  <section>
    <p>Author(s): 
      <% b.author.forEach(function(a, i) { %>
        <% if (i === b.author.length - 1) { %>
          <a href="/authors/<%= a._id %>"><%= a.firstName %> <%= a.middleName %> <%= a.lastName %></a>
        <% } else { %>
          <a href="/authors/<%= a._id %>"><%= a.firstName %> <%= a.middleName %> <%= a.lastName %></a>,
        <% } }) %>
    </p>
    <p>Genre: <%= b.genre[0].toUpperCase() + b.genre.substring(1) %></p>
    <p>Publication year: <%= b.publishYear %></p>
    <p>Page count: <%= b.pageCount %></p>

    <div>
      <% if (user && user.isAdmin) { %>
      <form action="/books/<%= b._id %>/edit" method="GET">
        <button type="submit">Edit Book</button>
      </form>
      <% } %>
    </div>

    <div>
      <% if (user) { %> <% if (user.booksRead.includes(b._id)) { %>
      <form action="/users/<%=b._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete from My Books</button>
      </form>
      <% } else { %>
      <form action="/users/<%= b._id %>?_method=PUT" method="POST">
        <button type="submit">Add to My Books</button>
      </form>
      <% }} %>
    </div>

    <div>
      <% if (user && user.isAdmin) { %>
      <form action="/books/<%=b._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete from Library</button>
      </form>
      <% } %>
    </div>

  </section>
</main>
<%- include('../partials/footer') %>
