<%- include('./partials/head') %> <%- include('./partials/header') %>

<main class="home-main">
  <% if (user && user.isAdmin) { %>
    <h2>Welcome back, Admin <%= user.username %>!</h2>
    <p class="home-p">Thanks for contributing to the little bookworms community.</p>
    <% } else if (user) { %>
      <h2>Welcome back, <%= user.username %>!</h2>
      <p class="home-p">
        Browse the library and add books to your own collection, or check out the
        authors in our library.
      </p>
      <% } else { %>
        <h2>Welcome, guest!</h2>
        <p class="home-p">
          Feel free to browse our library or
          <a id="log-in" href="/auth/google">log in</a>
          to start adding books to your own collection.
        </p>
        <% } %>
        <img id="kids" src="/img/kids.jpeg" alt="Kids Reading">
</main>

<%-include('./partials/footer') %>
