<%- include('./partials/head') %> <%- include('./partials/header') %>

<main>
  <% if (user && user.isAdmin) { %>
  <h2>Welcome back, Admin <%= user.username %>!</h2>
  <p>Thanks for contributing to the little bookworms community.</p>
  <% } else if (user) { %>
  <h2>Welcome back, <%= user.username %>!</h2>
  <section class="home-section">
    <img id="kids" src="/img/kids.jpeg" alt="Kids Reading">
    <p>
      Browse the library and add books to your own collection, or check out the
      authors in our library.
    </p>
  </section>
  <% } else { %>
  <h2>Welcome, guest!</h2>
  <p>
    Feel free to browse our library or
    <a id="log-in" href="/auth/google">log in</a>
    to start adding books to your own collection.
  </p>
  <% } %>
</main>

<img id="abc-blocks" src="/img/abc-blocks.png" alt="ABC Blocks" />
<%-include('./partials/footer') %>
