<%- include('../partials/head') %> 
<%- include('../partials/header') %> 
User profile
<p><%= user.username %></p>

<% user.booksRead.forEach(function(book) {%>
<div>
    <h3><%= book.title %></h3>
    <a href="/books/<%= book._id %>">Details</a>
</div>

<%})%> <%- include('../partials/footer') %>
