<%- include('../partials/head') %> <%- include('../partials/header') %> User
profile
<p><%= user.username %></p>

  <% user.booksRead.forEach(function(book) {%>
  <p>
    <%= book.title %>
    <form action="/users/<%=book._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
  </p>
  <%})%>

<%- include('../partials/footer') %>
