<%- include('../partials/head') %> <%- include('../partials/header') %>
<main>
  <h2>Find Your Favorite Author</h2>

  <table>
    <thead>
      <tr>        
        <th>Author</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% authors.forEach(a => { %>
      <tr>
        <td><a href="/authors/<%= a._id %>/"><%= a.firstName %> <%= a.middleName %> <%= a.lastName %></a></td>
        <td>
          <% a.booksWritten.forEach(function(b, i) { %>
          <p><%= b.title %></p>
          <% }) %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>
