<%- include('../partials/head') %> <%- include('../partials/header') %>

<main>
  <h2>Find Your Favorite Author</h2>
  <p class="center-text">
    Hover over each author to see all the books they've written!
  </p>
  <section class="card-container">
    <% authors.forEach(a => { %>
    <article class="card author-index">
      <% if (a.booksWritten.length > 1) { %>
      <span class="hide">Hover to see more...</span>
      <% } %>
      <h3>
        <a href="/authors/<%= a._id %>/"
          ><%= a.firstName %> <%= a.middleName %> <%= a.lastName %></a
        >
      </h3>
      <p>Book(s) Written:</p>
      <% a.booksWritten.forEach(function(b, i) { %>
      <p><a href="/books/<%= b._id %>"><%= b.title %></a></p>
      <% }) %>
    </article>
    <% }) %>
  </section>
</main>
<%- include('../partials/footer') %>
