<%- include('../partials/head') %>
<%- include('../partials/header') %>
<main>

    <table>
        <thead>
            <tr>
                <th><%= title %></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% author.booksWritten.forEach((b, i) => { %>
                <td>
                    <%= b.title %>
                </td>
                <% }) %>
            </tr>
        </tbody>
    </table>          
   
</main>

<%- include('../partials/footer') %>