<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main>

  <section class="card-container">
    <% author.booksWritten.forEach((b, i) => { %>
      <article>
        <h3><a href="/books/<%= b._id %>"><%= b.title %></a></h3>
      </article>
      <% }) %>
  </section>
 
</main>

<%- include('../partials/footer') %>
