<%- include('../partials/head') %>
<%- include('../partials/header') %>
<main>

    <table>
        <thead>
            <tr>
                <th colspan="2"><%= title %></th>
            </tr>
        </thead>
        <tbody>
            <% author.booksWritten.forEach((b, i) => { %>
            <tr>
                <td>
                    <%= b.title %>
                </td>
                <td>
                    <a href="/books/<%= b._id %>">Details</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>          
   
</main>

<%- include('../partials/footer') %>